/storage/logs/*
/storage/debugbar/*
/node_modules
/public/storage
/storage/*.key
/storage/*.jpg
/storage/*.png
/storage/*.gif
/storage/*.bmp
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
.phpcd
.sw*
.swp
tu.php
resources/lang/vendor/log-viewer/th/
